/* Stile per AnchorPane (background #435363) */
.customAnchorPane {
    -fx-background-color: #435363; /* Sfondo specifico */
    -fx-border-width: 5px;
}
/* Stile per la Label del logo */
.logoLabel {
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 24.0;
    -fx-font-weight: bold; /* Testo in grassetto */
    -fx-text-fill: white; /* Colore del testo bianco */
}

.button {
    -fx-background-color: #38444f; /* Colore di sfondo del bottone */
    -fx-background-radius: 15px;
    -fx-text-fill: white; /* Colore del testo */
    -fx-font-size: 23px; /* Dimensione del testo */
    -fx-alignment: center;
    -fx-padding: 10 20; /* Padding del bottone (top, right, bottom, left) */
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-border-color: #505f6e;
}

.button:hover {
    -fx-background-color: #606a75; /* Colore di sfondo quando il mouse passa sopra il bottone */
}

/* Stile per Pane (charcoal) */
.customPane {
    -fx-background-color: #36424e;
    -fx-border-width: 1px;
    -fx-background-radius: 10; /* Raggio degli angoli del background */
}

/* Stile per i Button all'interno del Pane */
.buttonCustomPane {
    -fx-padding: 10 20; /* Padding del bottone (top, right, bottom, left) */
    -fx-background-color: none;
    -fx-border-color: none;
}

.buttonCustomPane:hover {
    -fx-background-color: #606a75; /* Colore di sfondo quando il mouse passa sopra il bottone */
}

.labelCustomPane{
    -fx-text-fill: white; /* Colore del testo bianco */
    -fx-font-size: 18px;
    -fx-font-family: "Book Antiqua";
    -fx-alignment: center;
    -fx-font-weight: bold; /* Testo in grassetto */
}

/* Stile per i Tooltip */
.button:hover .tooltip {
    -fx-background-color: #485563ff; /* Colore di sfondo del tooltip */
    -fx-text-fill: white; /* Colore del testo del tooltip */
}

/*CSS Per la Pagina di Log-in*/

.LogInButton{
    -fx-background-color: #238010;
    -fx-background-radius: 15px;
    -fx-text-fill: white; /* Colore del testo */
    -fx-font-size: 23px; /* Dimensione del testo */
    -fx-alignment: center;
    -fx-padding: 10 20; /* Padding del bottone (top, right, bottom, left) */
    -fx-border-radius: 15px;
    -fx-border-color: none;
    -fx-border-width: 2px;
}

.LogInButton:hover {
    -fx-background-color: #1f5413; /* Colore di sfondo del tooltip */
    -fx-text-fill: white; /* Colore del testo del tooltip */
}

.labelLog{
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 35.0;
    -fx-font-weight: bold; /* Testo in grassetto */
    -fx-text-fill: white; /* Colore del testo bianco */
}

.TextField, .PasswordField {
    -fx-font-size: 15px;
    -fx-background-color: trasparent; /* Sfondo trasparente */
    -fx-background-radius: 10px;
    -fx-border-color: #FFFFFF; /* Colore della linea */
    -fx-border-radius: 10px;
    -fx-border-width: 2 2 2 2; /* Spessore della linea (bottom) */
    -fx-text-fill: white;
}

/* Aggiungi uno stile quando il campo di testo è selezionato */
.TextField:focused, .PasswordField:focused {
    -fx-border-color: #505f6e; /* Cambia il colore della linea quando il campo è selezionato */
}

/* Rimuovi la linea sotto il testo di prompt */
.TextField .prompt-text, .PasswordField .prompt-text {
    -fx-border-width: 0;
}

/* Rimuovi il bordo del campo di testo selezionato */
.TextField:focused .text, .PasswordField:focused .text {
    -fx-border-color: transparent;
}

/* Rimuovi il bordo del campo di testo quando il prompt è visualizzato */
.TextField:showing .text, .PasswordField:showing .text {
    -fx-border-color: transparent;
}

